<footer>
  <div class="copyright">
    <a href="{{site.url | append: site.baseurl}}">{{site.title}}</a>
    &bullet;
    <a href="{{site.contact.web}}">{{site.contact.name}}</a>
    &bullet;
    <a href="http://twitter.com/{{site.contact.twitter}}">@{{site.contact.twitter}}</a>
    &bullet;
    <a rel="license" href="//creativecommons.org/licenses/by-nc/3.0/deed.en_US">
      <img
	 alt="Creative Commons License" style="border-width:0"
	 src="//i.creativecommons.org/l/by-nc/3.0/80x15.png"/>
    </a>
  </div>
</footer>
