$spacing: 10px;

@mixin clearfix {
  &:before, &:after {
	      content: ' ';
	      display: table;
	    }
  &:after {
    clear: both;
  }
}


.reveal {
  img.logo {
    width: 25%;
  }
  img.img-responsive {
    width: 100%;
    max-width: 100%;
    display: block;
    text-align: center;
  }
  .notes {display: none;}
  .go-wide {width: 960px}
  .nowrap { white-space: nowrap}
}
